* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --jet: #2D2D2A;
    --davys-grey: #47474c;
    --davys-grey-fainted: #6666619c;
    --cool-grey: #848FA5;
    --cool-grey-fainted: #909cb5;
    --shimmer: #C14953;
    --shimmer-fainted: #d5515c;
    --bone: #E5DCC5;
}

body {
    background-color: var(--bone);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
}

#homeScreen {
    height: 100vmin;
    background: url(../assets/img/bg3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#gameSection {
    height: 100vmin;
    background: url(../assets/img/bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
    width: 60%;
    margin: 3rem auto 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@keyframes floating {
    100% {
        transform: translateY(3px);
    }
}

.menu-btn {
    font-family: 'VT323', monospace;
    text-decoration: none;
    color: var(--jet);
    width: 25vmin;
    padding: 1.5rem 2rem 1.5rem 2rem;
    display: block;
    text-align: center;
    background-color: #fbe32f;
    margin:0 0 1rem 0;
    border-radius: 100px;
    box-shadow: #265713 7px 7px 0;
    animation: floating 1s infinite ease-in-out alternate;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}

#copyright {
    color: var(--jet);
    display: block;
}

.menu-btn:nth-child(2) {
    animation-delay: .3s;
}

.menu-btn:nth-child(3) {
    animation-delay: .6s;
}

.btn-modal {
    padding: 0.5rem 0.2rem;
    border-radius: 3px;
    box-shadow: none;
    width: 3rem;
}

.main-title {
    font-size: 60px;
}

.menu-btn:hover {
    background-color: #f9e867;
}

.menu-btn:active {
    background-color: #fbe32f;
    box-shadow: none;
}

.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--davys-grey-fainted);
}

.modal {
    padding: 3.5rem;
    background-color: #002a53;
    border-radius: 2px 2px 7px 7px;
    position: relative;
}

.modal .body {
    display: flex;
    flex-direction: column;
}

.modal .body label {
    color: var(--cool-grey);
    margin: 0 0 0.5rem 0;
}

.modal .body input {
    padding: 0.5rem;
    margin: 0 0 1rem 0;
    color: #2D2D2A;
}

.-queue {
    flex-direction: row;
    width: 300px;
}

.-queue div{
    display: flex;
    justify-content: space-around;
    
}

.-queue div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.players-list {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 1rem 0 0 0;
    color: var(--jet);
    width: 100%;
}

#players {
    width: 100%;
}

#players li {
    list-style-type: none;
    background-color: var(--bone);
    margin: 2px;
    padding: 0.4rem;
    border-radius: 3px;
    font-size: 0.8rem;
    line-height: 0.8rem;
    width: 100%;
    text-align: center;
}

#start {
    width: 100%;
    margin: 1rem 0 0 0;
}

#close-btn, #close-btn-queue {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    background-color: var(--shimmer);
    color: var(--bone);
    font-weight: bold;
}

#game-code, #player-count {
    font-size: 2rem;
    font-weight: bold;
    color: var(--bone);
    margin: -0.5rem 0 1rem 0;
}

#close-modal, #close-modal-queue {
    cursor: pointer;
}

#close-modal :hover, #close-modal-queue:hover {
    background-color: var(--shimmer-fainted);
}

#close-modal :active, #close-modal-queue:active {
    background-color: var(--shimmer);
}

/* main section */
#board {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0.1vmin solid black;
    height: 98vmin;
    width: 98vmin;
    background-image: url(../assets/img/board.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff98;
    border-radius: 10px;
    border: #111 5px solid;
    box-shadow: #111 10px 10px 16px;
}

.tile {
    float: left;
    height: 9.601vmin;
    width: 9.601vmin;
    border: 0.1vmin solid black;
    text-align: center;
    line-height: 9.601vmin;
    font-size: 2.5vmin;
    display: none;
}

.side {
    position: absolute;
    top: 1vmin;
    left: 1vmin;
    height: 25vmin;
    width: 35vmin;
    border: 0.2vmin solid black;
    background-color: #fbe32f;
    text-align: center;
    font-size: 3.5vmin;
    border-radius: 10px;
    border: #111 5px solid;
    box-shadow: #111 10px 10px 16px;
}

#cube-outer {
    height: 8vmin;
    width: 8vmin;
    perspective: 30vmin;
    margin: auto;
}

#cube-inner {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
}

#cube-inner div {
    height: 100%;
    width: 100%;
    position: absolute;
}

#front {
    transform: translateZ(4vmin);
}

#back {
    transform: rotateY(180deg) translateZ(4vmin);
}

#left {
    transform: rotateY(-90deg) translateX(-4vmin);
    transform-origin: left;
}

#right {
    transform: rotateY(90deg) translateX(4vmin);
    transform-origin: right;
}

#top {
    transform: rotateX(-90deg) translateY(-4vmin);
    transform-origin: top;
}

#bottom {
    transform: rotateX(90deg) translateY(4vmin);
    transform-origin: bottom;
}

img {
    height: 100.3%;
    width: 100.3%;
}

#p-turn {
    margin-bottom: 1rem;
}

#p-instruction {
    margin: -0.9rem 0 1rem 0;
    font-size: 0.9rem;
}

.players {
    position: absolute;
    top: 90.9vmin;
    left: 3vmin;
    height: 4vmin;
    width: 4vmin;
    border-radius: 50%;
    opacity: 0.7;
    transition-duration: 0.4s;
    transition-property: margin;
}

#red {
    background-color: red;
}
#green {
    background-color: green;
}
#yellow {
    background-color: yellow;
}
#brown {
    background-color: brown;
}

.-question span {
    color: var(--bone);
    margin: 0 auto 2rem auto;
    font-size: 1.3rem;
    font-weight: bold;
}

.question-options {
    display: flex;
    margin-top: 2rem;
}

.question-options ul {
    margin: auto;
    list-style-type: none;
    background-color: aliceblue;
    padding: 1.3rem;
    border-radius: 3px;
    width: 90%;
}

.question-options ul li {
    margin: 0.5rem;
    background-color: rgb(237, 237, 237);
    border-radius: 3px;
}

.question-options ul li a {
    color: var(--jet);
    text-decoration: none;
    height: 100%;
    width: 100%;
    padding: 0.5rem;
    display: inline-block;
}

.question-options ul li a:hover {
    background-color: #d2fad4;
}
.question-options ul li a:active {
    background-color: #b6fbb8;
}

.chosen {
    background-color: #b6fbb8;
}

#question-normal span {
    color: var(--cool-grey-fainted);
    font-size: 1rem;
    font-weight: 400;
}

.question-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#question-img img {
    width: 500px;
    height: 350px;
}

#question-video iframe {
    width: 500px;
    height: 350px;
}

#roll-dice-btn {
    position: absolute;
    top: 35vmin;
    left: 10vmin;
    width: 16vmin;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    color: var(--jet);
    padding: 0.5rem 0.8rem;
    border-radius: 7px;
    margin: -0.5rem 0 0.5rem 0;
    background-color: #fbe32f;
    box-shadow: #111 10px 10px 16px;
}

#roll-dice-btn:hover {
    background-color: var(--cool-grey-fainted);
}

#roll-dice-btn:active {
    box-shadow: none;
}

#current-turn-indicator{
    color: var(--bone);
}

.hide {
    display: none;
}

.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 200;
    background: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.splash.hide-splash {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -100;
    background: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s;
}

.splash span {
    color: #ff5100;
    font-weight: bold;
    font-size: 2rem;
}

#splash-img {
    width: 75vmin;
    height: 55vmin;
    border-radius: 10px;
    margin-bottom: 3rem;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}